# Code quality
# ------------------------------------------------------------------------------
flake8
flake8-isort
coverage
black
mypy

# Documentation
# ------------------------------------------------------------------------------
Sphinx

# Testing
# ------------------------------------------------------------------------------
pytest
bfet
coverage
pytest-xdist

# Tools
# ------------------------------------------------------------------------------
click
awscli
python-dotenv>=0.5.1
seaborn
pandas
numpy